body {
  margin: 0;
}

.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../image/bg1.jpg");
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background: hsla(0, 0%, 0%, 0.553);
  border: 1px solid white;
  color: white;
  text-align: center;
  border-radius: 8px;
}
  
input, button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  
button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
  
button:hover {
  background-color: hsla(0, 0%, 100%, 0.502);
}
  
.error-msg {
  color: red;
  margin-top: 10px;
}
  