body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background: url("../image/bg1.jpg");
}

header {
  position: fixed;
  background-color: #006d6b80;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
  
header .navbar {
  display: flex;
  align-items: center;
  font-family: tahoma;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}
  
.navbar .logo {
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: none;
}
  
.navbar .logo span {
  color: #00c5c1;
}
  
.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
}
  
.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
  margin-right: 20px;
}
  
.navbar a:hover {
  color: #01fffb;
  text-shadow: 0 0 5px #01fffb, 0 0 25px #01fffb, 0 0 50px #01fffb, 0 0 100px #01fffb, 0 0 200px #01fffb;
}


#start-screen {
  text-align: center;
  color: white;
  background-color: hsla(0, 0%, 0%, 0.516);
  border: white 2px solid;
  border-radius: 10px;
  padding: 50px;
  width: 400px;
}

#start-button, #restart-button, #exit-button, #return-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

#start-button:hover, #return-button:hover {
  color: #ff3e3e;
  background-color: #00000076;
}

h2 {
    color: #ffffff;
}

p {
    color: red;
    font-size: 15px;
}

.hidden {
    display: none;
}

#game-container {
  position: relative;
  width: 70vw;
  height: 70vh;
  border: 2px solid #ffffff;
  background-color: hsla(0, 0%, 0%, 0.443);
}

#circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: hsl(0, 100%, 50%);
  border-radius: 50%;
  cursor: pointer;
}

#circle:hover {
  background-color: hsl(142, 100%, 58%);
}

#score-board {
  position: absolute;
  color: hsl(0, 0%, 100%);
  top: 10px;
  left: 10px;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

#control-buttons {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: absolute;
  bottom: 10px;
  margin-left: 40%;
  display: flex;
  gap: 20px;
}